.header_top.close {
  max-height: 0px;
}
.content_offer-item_rich strong {
  color: var(--_color---accent);
  font-weight: 500;
}
.content_offer-item_rich p {
  font-weight: 500;
}
@keyframes radar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content_agents-radar {
  animation: radar 30s linear infinite;
  will-change: transform;
}
@media screen and (max-width: 1100px)  and (min-width: 768px) {
  .content_tools-list {
    width: auto !important;
  } 
  .content_tools-item {
    width: 14.25rem !important;
  }  
}
.modal_back {
  transition: 0.32s ease-out all;
}  
.modal_content {
 transition: 0.4s ease-out all 0.25s;
}  
[data-header="back"].active {
  opacity: 1;
}
[data-modal].active {
  pointer-events: auto;
}
[data-modal].active .modal_back {
  opacity: 1;
}
[data-modal].active .modal_content {
  opacity: 1;
  transform: translateY(0%)
}
